body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #414c5c, #9220a3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background-color: white;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 600px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: #7f8dff;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 30px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 2px solid #d6a5f5;
    margin-bottom: 20px;
    transition: border 0.3s;
}

input:focus {
    border: 2px solid #a2d0ff;
    outline: none;
}

button {
    padding: 20px 35px;
    font-size: 1rem;
    background-color: #634558;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ce4747;
}
