/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #d3d3d4, #e8f0eb);

}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
  text-align: center;
}

/* Cabeçalho */
header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  color: #333;
}

/* Título da seção de filmes */
#search-results h2 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px; /* Espaço entre o título e os resultados */
}

/* Estilos da barra de busca */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-bar {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #555;
}

/* Estilos dos resultados da pesquisa */
.search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exibe 3 filmes por linha */
  gap: 20px; /* Espaçamento entre as imagens */
  margin-top: 20px;
}

.search-result {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Adiciona transição para hover */
}

.search-result:hover {
  transform: scale(1.05); /* Efeito de aumento quando o mouse passa sobre a capa */
}

.search-result img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 200px; /* Limita a altura das imagens */
}

.search-result p {
  font-size: 16px;
  margin-top: 15px;
}

.search-result button {
  margin-top: 10px;
  background-color: #e74c3c;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.search-result button:hover {
  background-color: #c0392b;
}

/* Estilos da lista de filmes selecionados */
.selected-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.selected-movies h2 {
  font-size: 1.8em;
  color: #333;
  margin-top: 30px;
}

.movie {
  background-color: white;
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie p {
  font-size: 14px;
  margin-top: 10px;
}

.movie button {
  margin-top: 10px;
  background-color: #e74c3c;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.movie button:hover {
  background-color: #c0392b;
}

.mensagem-usuario{
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mensagem-usuario h3{
  font-size: 20px;
  color: rgb(126, 126, 243);
}

.mensagem-usuario p{
  color: #f04949;
  font-style: italic;
}

.hidden{
  display: none;
}

.voltar-img {
  position: fixed; /* Fixar a imagem no canto */
  top: 20px; /* Distância do topo */
  left: 20px; /* Distância da esquerda */
  cursor: pointer; /* Mostrar um cursor de pointer ao passar o mouse */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

/* Efeito de animação quando o mouse passa sobre a imagem */
.voltar-img:hover {
  transform: rotate(360deg) scale(1.1); /* Rotaciona e aumenta a imagem */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}

