/* Estilo geral da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;  /* Alinha verticalmente no centro */
    height: 100vh;
    background: linear-gradient(135deg, #ecf1f7, #63b0f0);
    overflow-y: auto;
}

.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

/* Estilo para a mensagem de boas-vindas */
.welcome-message h1 {
    font-size: 2.5rem;
    color: #f74ea2;
    margin-bottom: 10px;
}

.welcome-message p {
    font-size: 1.2rem;
    color: #7F8C8D;
    margin-bottom: 30px;
}

/* Estilo para o menu de opções */
.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
}

/* Estilo para cada item do menu */
.menu-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-align: center;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #a6f7ec;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Ajuste da fonte nos itens do menu */
.menu-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

/* Responsividade para telas menores */

/* Para telas de tablet (menor que 768px) */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
        margin-top: 50px; /* Mais espaço no topo para o tablet */
    }

    .welcome-message h1 {
        font-size: 2rem;
    }

    .welcome-message{
        display: none;
    }

    .welcome-message p {
        font-size: 1rem;
    }

    .menu {
        grid-template-columns: repeat(2, 1fr);  /* Ajusta o menu para 2 colunas */
    }

    .menu-item {
        padding: 15px;
    }

    .menu-item img {
        max-height: 150px;
        object-fit: cover; /* Ajuste para evitar distorções na imagem */
    }
}

/* Para telas de celular (menor que 480px) */
@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
        margin-top: 500px; /* Mais espaço no topo para o celular */
    }

    .welcome-message h1 {
        font-size: 1.6rem;
    }

    .welcome-message p {
        font-size: 0.9rem;
    }

    .menu {
        grid-template-columns: 1fr;  /* Ajusta o menu para 1 coluna */
    }

    .menu-item {
        padding: 10px;
    }

    .menu-item img {
        max-height: 120px;
        object-fit: cover; /* Ajuste para evitar distorções na imagem */
    }
}
